@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --bg-top-bar: #06717e;
    --bg-header: #210a3e;
    --font-color: #ffffff;
    --pink-fluor: #ff00ff;
  }
}

@layer components {
  .top-bar {
    background-color: var(--bg-top-bar);
    color: var(--font-color);
  }

  .header-theme {
    background-color: var(--bg-header);
    color: var(--font-color);
  }

  .bg-principal-theme {
    background-color: var(--bg-header);
  }

  .bg-pink-fluor {
    background-color: var(--pink-fluor);
  }

  .text-pink-fluor {
    color: var(--pink-fluor);
  }
}
